@font-face {
    font-family: 'CustomFont';
    src: url('fonts/ChaparralPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
body {
    font-family: 'CustomFont','Arial', sans-serif;
    background: url('images/Swiss-Cheese.jpg') no-repeat center center fixed;
    background-size: 500px;
    color: #e8e6e6;
    margin: 0;
    display: flex;
  }

.parallax {
    height: 300px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    color: #ffffff;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }

  .transparent-box {
    padding: 20px; /* Space inside the box */
    width: 300px;

  }
  
  .content section {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #423d3d;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .sidebar {
    width: 200px;
    background-color: #e8e6e6;
    padding: 20px 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin: 15px 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    transition: background 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #d8c057;
  }

header {
    background-color: #e8e6e6;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: lightgray; /* Optional: Changes color on hover */
    text-decoration: underline; /* Optional: Adds underline on hover */
  }
nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    background-color: #2b3f58;
    opacity: 0;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 200px;
}
a img {
    width: 50px; /* Set width of image */
}